{
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "curly":      "error",
    "eqeqeq":     "error",
    "no-eq-null": "error",
    "no-use-before-define": ["error", "nofunc"],
    "brace-style":                  ["error", "1tbs", { "allowSingleLine": true }],
    "comma-dangle":                 ["error", "always-multiline"],
    "comma-spacing":                "error",
    "comma-style":                  "error",
    "func-call-spacing":            "error",
    "indent":                       ["error", 2, { "SwitchCase": 1, "MemberExpression": 1 }],
    "key-spacing":                  ["error", { "mode": "minimum" }],
    "keyword-spacing":              "error",
    "object-curly-spacing":         ["error", "always"],
    "one-var":                      ["error", "never"],
    "quotes":                       ["error", "single", { "allowTemplateLiterals": true }],
    "semi":                         ["error", "always"],
    "space-before-function-paren":  ["error", "never"],
    "space-infix-ops":              "error",
    "arrow-spacing":          "error",
    "no-duplicate-imports":   "error",
    "no-useless-constructor": "error",
    "no-var":                 "error",
    "prefer-const":           "error",
    "prefer-template":        "error"
  }
}
